<odoo>
	<data>
		<menuitem id="main_croix_rouge_menu" name="Croix-Rouge Tenues" sequence="0"/>

		<menuitem id="croix_rouge_menu_main" name="Menu" parent="main_croix_rouge_menu"/>
		<menuitem id="vetement_menu" name="Vetements" parent="croix_rouge_menu_main" action="vetement_action"/>
		<menuitem id="type_menu" name="Type" parent="croix_rouge_menu_main" action="type_vetement_action"/>
		<menuitem id="etat_menu" name="Etat" parent="croix_rouge_menu_main" action="etat_vetement_action"/>
		<menuitem id="unite_locale_menu" name="Unit locale" parent="croix_rouge_menu_main" action="unite_locale_action"/>
		<menuitem id="benevole_menu" name="Bénévoles" parent="croix_rouge_menu_main" action="benevole_action"/>
		<menuitem id="responsable_menu" name="Responsables" parent="croix_rouge_menu_main" action="responsable_action"/>
		<menuitem id="type_tenue_menu" name="Types de tenue" parent="croix_rouge_menu_main" action="type_tenue_action"/>
		<menuitem id="affectation_tenue_menu" name="Affectations de tenues" parent="croix_rouge_menu_main" action="affectation_tenue_action"/>
		<menuitem id="mission_menu" name="Missions" parent="croix_rouge_menu_main" action="mission_action"/>
	</data>
</odoo>